.sidebar {
    width: min(75vw, 400px);
    transform: translateX(100%);
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
}

.show_sidebar {
    width: min(75vw, 400px);
    transform: translateX(0);
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
}
