@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeExpand {
    from {
        opacity: 0;
        transform: scale(50%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(30%);
    }
    60% {
        opacity: 1;
        transform: scale(120%);
    }
    100% {
        opacity: 0;
        transform: scale(100%);
    }
}

.link-animated {
    display: inline-block;
    position: relative;
}

.link-animated:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4B6587;
    transform-origin: bottom right;
    transition: transform cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
}

.link-animated:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

